{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <h2>Welcome home bitch</h2>

    <a class="btn btn-primary" href="{{ path("app_film") }}">see movies</a>

{% endblock %}
