{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <h2 class="text-center my-4">Welcome !</h2>


    <div class="d-flex justify-content-center py-4">
        <a class="btn btn-primary" href="{{ path("app_film") }}">Voir les films</a>

    </div>

{% endblock %}
